<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Pocket Recipes</ion-title>
</ion-navbar>

<ion-content padding class="new-recipe">
  <h2>New Recipe</h2>

  <form [ngFormModel]="recipeForm" (ngSubmit)="onSubmit(recipeForm.value)">

    <ion-item [class.error]="!name.valid && name.touched">
      <ion-label floating>Name</ion-label>
      <ion-input type="text" value="" [ngFormControl]="name"></ion-input>
    </ion-item>
    <div *ngIf="name.hasError('required') && name.touched" class="error-box">
      * Name is required!
    </div>
    <div *ngIf="name.hasError('minlength') && name.touched" class="error-box">
      * Minimum length is 3 characters!
    </div>


    <ion-item [class.error]="!description.valid && description.touched">
      <ion-label floating>Description</ion-label>
      <ion-input type="text" value="" [ngFormControl]="description"></ion-input>
    </ion-item>
    <div *ngIf="description.hasError('required') && description.touched" class="error-box">
      * Description is required!
    </div>
    <div *ngIf="description.hasError('maxlength') && description.touched" class="error-box">
      * Maximum length is 140 characters!
    </div>

    <ion-item [class.error]="!prepTime.valid && prepTime.touched">
      <ion-label floating>Prep Time in minutes (Optional)</ion-label>
      <ion-input type="text" value="" [ngFormControl]="prepTime"></ion-input>
    </ion-item>
    <div *ngIf="prepTime.hasError('pattern') && prepTime.touched" class="error-box">
      * Must be a number!
    </div>

    <ion-item [class.error]="!cookingTime.valid && cookingTime.touched">
      <ion-label floating>Cooking Time in minutes</ion-label>
      <ion-input type="text" value="" [ngFormControl]="cookingTime"></ion-input>
    </ion-item>
    <div *ngIf="cookingTime.hasError('required') && cookingTime.touched" class="error-box">
      * Cooking Time is required!
    </div>
    <div *ngIf="cookingTime.hasError('pattern') && cookingTime.touched" class="error-box">
      * Must be a number!
    </div>
    <br/>
    
    <label>Ingredients</label>
    <ion-list>
      <ion-item *ngFor="#number of ingredientsCount" [class.error]="!ingredients.valid && ingredients.touched">
        <ion-input type="text" value="" [ngFormControl]="ingredients"></ion-input>
      </ion-item>
      <button (click)="addIngredientRow($event)" light block>Add an ingredient</button>
    </ion-list>

    <label>Directions</label>
    <ion-list>
      <ion-item *ngFor="#number of directionsCount" [class.error]="!directions.valid && directions.touched">
        <ion-label>Step {{number}}</ion-label>
        <ion-input type="text" value="" [ngFormControl]="directions"></ion-input>
      </ion-item>
      <button (click)="addDirectionRow($event)" light block>Add a step</button>
    </ion-list>

    <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid" block>Submit</button>

  </form>
</ion-content>